## Create List

In [4]:
names = ["Akhilesh Pant", "Aarav", "Mohit Sharma"]
names

['Akhilesh Pant', 'Aarav', 'Mohit Sharma']

## Using the list() Constructor

In [7]:
names =list(["Akhilesh Pant", "Aarav", "Mohit Sharma"])
names

['Akhilesh Pant', 'Aarav', 'Mohit Sharma']

## Coverting A String To A List Of Characters

In [11]:
string_data = 'Akhilesh Pant'
list_from_string = list(string_data)
list_from_string

['A', 'k', 'h', 'i', 'l', 'e', 's', 'h', ' ', 'P', 'a', 'n', 't']

## Using List Comprehension

### Creating A List Of Squares

In [15]:
squares = [x**2 for x in range (5)]
squares

[0, 1, 4, 9, 16]

### Creating A List With A Conditions

In [18]:
even_numbers = [x for x in range (10) if x % 2 == 0]
even_numbers

[0, 2, 4, 6, 8]

In [22]:
even_numbers = [x for x in range (10) if x % 2 == 0]
even_numbers

[0, 2, 4, 6, 8]

## Using * Operator For Repetition

### Repeting The Element 0 Five Times

In [26]:
zeros = [0] * 5
zeros

[0, 0, 0, 0, 0]

### Creating A List Of Default Values

In [29]:
repeat = ['Akhilesh']*3
repeat

['Akhilesh', 'Akhilesh', 'Akhilesh']

## Using The range() Function

The range() function generates a sequence of numbers, which can be converted into a list

## List Of Numbers From 0 To 9

In [37]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Of Even Numbers

In [40]:
even_numbers = list(range(0, 10, 2))
even_numbers

[0, 2, 4, 6, 8]

### List Of Even Numbers

In [43]:
odd_numbers = list(range(1, 10, 2))
odd_numbers

[1, 3, 5, 7, 9]

## Using Unpacking With * Operator

The unpacking operator * can be used to create lists by expanding iterable

In [49]:
# Expanding A Range Into A List
numbers = [*range(5)]
numbers

[0, 1, 2, 3, 4]

In [51]:
# Combining Two Lists With Unpacking
list1 = [1, 2]
list2 = [3, 4]

combined = [*list1, *list2]
combined

[1, 2, 3, 4]