**Ybi Foundation** (www.ybifoundation.org)

**[Click to Join Live Doubt Class](https://www.ybifoundation.org/session/live-doubt-resolution-session#/home)** (https://bit.ly/doubt-support)

# **Updating and Modifying Lists**

In [2]:
# Create list
cities = ["Mumbai", "Delhi", "Bangalore"]

In [3]:
# Changing the second element
cities[1] = "Kolkata"  # cities is now ["Mumbai", "Kolkata", "Bangalore"]

In [1]:
# Adding an element to the end
cities.append("Chennai")  # cities is now ["Mumbai", "Kolkata", "Bangalore", "Chennai"]

NameError: name 'cities' is not defined

In [5]:
# Inserting an element at a specific index
cities.insert(1, "Hyderabad")  # cities is now ["Mumbai", "Hyderabad", "Kolkata", "Bangalore", "Chennai"]

In [4]:
# Removing an element by value
cities.remove("Kolkata")  # cities is now ["Mumbai", "Hyderabad", "Bangalore", "Chennai"]

In [6]:
# Removing an element by index
cities.pop(2)  # cities is now ["Mumbai", "Hyderabad", "Chennai"]

'Bangalore'

In [ ]:
# Removing the first two elements using del
del cities[:2]  # cities is now ["Chennai"]

# **🦉Practice Problem**

## **Practice Problem 1: Update a List of Cities**

You are given a list of Indian cities:

```cities = ["Delhi", "Mumbai", "Kolkata", "Chennai", "Bangalore"]```

Task:

- Replace "Chennai" with "Hyderabad".
- Add "Pune" to the end of the list.
- Insert "Ahmedabad" at the 2nd position.

In [ ]:
cities = ["Delhi", "Mumbai", "Kolkata", "Chennai", "Bangalore"]

# Replace "Chennai" with "Hyderabad"
cities[3] = "Hyderabad"

# Add "Pune" to the end
cities.append("Pune")

# Insert "Ahmedabad" at the 2nd position
cities.insert(1, "Ahmedabad")

print("Updated List of Cities:", cities)

Updated List of Cities: ['Delhi', 'Ahmedabad', 'Mumbai', 'Kolkata', 'Hyderabad', 'Bangalore', 'Pune']

## **Practice Problem 2: Modify Exam Scores**

You are given a list of scores for students:

```scores = [45, 60, 55, 70, 85]```

Task:

- Increase the score of the first student by 10.
- Replace the score of the 3rd student with 65.
- Remove the score of the last student.

In [ ]:
scores = [45, 60, 55, 70, 85]

# Increase the score of the first student by 10
scores[0] += 10

# Replace the score of the 3rd student with 65
scores[2] = 65

# Remove the score of the last student
scores.pop()

print("Updated Scores:", scores)

Updated Scores: [55, 60, 65, 70]

## **Practice Problem 3: Rearrange Names Alphabetically**

You are given a list of student names:

```students = ["Rohan", "Aarav", "Priya", "Ananya", "Rahul"]```

Task:

- Sort the names alphabetically.
- Reverse the order of the sorted list.

In [ ]:
students = ["Rohan", "Aarav", "Priya", "Ananya", "Rahul"]

# Sort alphabetically
students.sort()

# Reverse the sorted list
students.reverse()

print("Reversed Sorted Names:", students)

Reversed Sorted Names: ['Rohan', 'Rahul', 'Priya', 'Ananya', 'Aarav']

## **Practice Problem 4: Combine and Update Shopping Lists**

You are given two shopping lists:

    list1 = ["Rice", "Wheat", "Sugar"]

    list2 = ["Milk", "Butter"]

Task:

- Combine the two lists into one.
- Replace "Sugar" with "Honey".
- Add "Salt" to the end of the list.

In [ ]:
list1 = ["Rice", "Wheat", "Sugar"]
list2 = ["Milk", "Butter"]

# Combine the two lists
shopping_list = list1 + list2

# Replace "Sugar" with "Honey"
index_sugar = shopping_list.index("Sugar")
shopping_list[index_sugar] = "Honey"

# Add "Salt" to the end
shopping_list.append("Salt")

print("Updated Shopping List:", shopping_list)

Updated Shopping List: ['Rice', 'Wheat', 'Honey', 'Milk', 'Butter', 'Salt']

## **Practice Problem 5: Filter and Update Population Data**

You are given a list of populations of cities in millions:

      populations = [32, 20, 15, 10, 12, 8]

Task:

- Remove populations less than 10 million.
- Add 2 million to each remaining population.

In [ ]:
populations = [32, 20, 15, 10, 12, 8]

# Remove populations less than 10 million
populations = [pop for pop in populations if pop >= 10]

# Add 2 million to each population
populations = [pop + 2 for pop in populations]

print("Updated Populations:", populations)

Updated Populations: [34, 22, 17, 12, 14]

# **🐌Exercise**

## **Exercise 1:  Travel Itinerary**

You have a list travel_destinations with the following cities: ["Delhi", "Ayodha", "Kashi", "Mathura"].

- You've decided to visit "Somnath" instead of "Delhi". Update the list accordingly.

- You've added "Somnath" to your itinerary after "Mathura". Modify the list.

In [ ]:
# Your answer

## **Exercise 2:  Favorite Foods**

Create a list favorite_foods with at least 5 of your favorite dishes.

- You've developed a new love for "Biryani". Add it to the end of your list.
- You've realized you don't like "Pizza" anymore. Remove it from your list.
- You now prefer "Dosa" over the second item in your list. Replace the second item with "Dosa".

In [ ]:
# Your answer

## **Exercise 3:  Bollywood Movie Marathon**

You have a list bollywood_movies with 4 Bollywood movie titles.

- Add the movie "Dilwale Dulhania Le Jayenge" to the beginning of the list.
- Remove the third movie from the list.
- Replace the last movie in the list with "Uri".

In [ ]:
# Your answer

## **Exercise 4:  Festivals**

Create a list festivals with the names of 4 Indian festivals.

- Insert "Holi" at the second position in the list.
- You forgot to add " Diwali"! Add it to the end.
- Remove the first festival from the list.

In [ ]:
# Your answer

## **Exercise 5:  Programming Languages**

You have a list languages with the programming languages you know: ["Python", "Java"].

- Add "C++" to the list.
- Replace "Java" with "JavaScript".
- Remove the first language from the list.

In [ ]:
# Your answer

---

#🔗[Have a Doubt? Join Our Live Doubt Class for Help](https://www.ybifoundation.org/session/live-doubt-resolution-session)
https://bit.ly/doubt-support